html,
body {
  margin: 0;
  padding: 0;
  background: #fafafa;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.card-container {
  width: 100%;
  max-width: 450px;
  padding: 16px;
}